@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinY {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.auto-spin img {
  animation: spinY 3s linear infinite;
}